@{
    ViewData["Title"] = "Duyuru Paylaş";
    Layout = "_AdminLayout";
}
@model PushNotificationDbEntities.Announcement

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Duyuru Paylaş</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("AddNotification", "Announcement", FormMethod.Post))
                    {
                        <label for="input1" style="color:white">Duyuru Başlığı:</label>
                        @Html.TextBoxFor(v => v.Title, new { @class = "form-control", @required = "required" })

                        <label for="input2" style="color:white">Duyuru Açıklaması:</label>
                        @Html.TextAreaFor(v => v.Body, 10, 1, new { @class = "form-control", @required = "required" })

                        <label for="input3" style="color:white">Duyuru Fotoğrafı<span style="color:red;"> (Zorunlu Değildir!)</span>:</label>
                        @Html.TextBoxFor(v => v.PhotoUrl, new { @class = "form-control" })

                        <button type="submit">Paylaş</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>