@{
    ViewData["Title"] = "Duyuru Paylaş";
    Layout = "_AdminLayout";
}
@model PushNotificationDbEntities.Announcement



<!--A Design by W3layouts
   Author: W3layout
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Düzce Üniversitesi Giriş Ekranı </title>
    <!-- Meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gaze Sign up & login Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script>
        addEventListener("load", function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- Meta tags -->
    <!--stylesheets-->
    <link href="/SignIn/css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//style sheet end here-->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
</head>
<body>
    <div class="mid-class">
        <div class="art-right-w3ls">
            <h2>Duyuru Paylaş</h2>
            <form action="#" method="post">
                <div class="main">
                    <div class="form-left-to-w3l">
                        @using (Html.BeginForm("AddNotification", "Announcement", FormMethod.Post))
                        {
                            <label for="input1" style="color:white">Duyuru Başlığı:</label>
                            @Html.TextBoxFor(v=>v.Title,new{@class="form-control"})

                            <label for="input2" style="color:white">Duyuru Açıklaması:</label>
                            @Html.TextAreaFor(v=>v.Body,10,1,new{@class="form-control"})

                            <label for="input3" style="color:white">Duyuru Fotoğrafı:</label>
                            @Html.TextBoxFor(v=>v.PhotoUrl,new{@class="form-control"})

                            <button type="submit">Paylaş</button>     
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>