@{
    Layout = "_UserLayout";
}

<!-- Page Wrapper Starts -->
<div class="wrapper">
    <!-- About Section Starts -->
    <section id="about" class="about">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>ÜNİVERSİTEMİZ</span> HAKKINDA</h1>
            </div>
            <!-- Main Heading Ends -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-user" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- About Content Starts -->
            <div class="row about-content">
                <div class="col-sm-12 col-md-6 col-lg-6 about-left-side">
                    <h3 class="title-about"><strong>DÜZCE</strong> ÜNİVERSİTESİ</h3>
                    <hr>
                    <p>
                        Üniversitemiz, 17 Mart 2006 tarih 26111 sayılı Resmi Gazete'de yayınlanan 5467 sayılı Yasa ile Düzce Üniversitesi olarak kurulmuştur. 18 Mayıs 2007 tarihinde ilk Rektörümüz Prof. Dr. Funda SİVRİKAYA ŞERİFOĞLU atanmıştır. Kuruluşundan günümüze tüm paydaşları için "Değer Üretmeyi" benimsemiş olan Düzce Üniversitesi, bilimsel bilgiyi ve akademik deneyimi bölgenin kaynaklarını değere dönüştürme ve sorunlarını çözme amacıyla kullanmaktadır. Her sektörle işbirliğine dayanan eğitim programları ve araştırmalarıyla,  istihdam garantili programlarıyla, uluslararası yayın ve atıf performansıyla rekabet gücü yüksek bir üniversite olarak yapılanmaktadır.

                        1680 dönümlük alanda kurulmuş olan Düzce Üniversitesi Konuralp Yerleşkesi’nde Orman, Teknik Eğitim, Tıp, Fen-Edebiyat, Mühendislik, İşletme, Teknoloji, Eğitim, Sanat ve Tasarım, Ziraat ve Doğa Bilimleri Fakülteleri, Sağlık Yüksekokulu, Beden Eğitimi ve Spor Yüksekokulu, Yabancı Diller Yüksekokulu ve Sağlık Hizmetleri Meslek Yüksekokulu ile Fen Bilimleri, Sağlık Bilimleri ve Sosyal Bilimler Enstitüleri yer almakta ve ön-lisans, lisans, yüksek lisans ve doktora programları yürütülmektedir. Düzce Meslek Yüksekokulu ve Sosyal Bilimler Meslek Yüksekokulu Düzce şehir içinde, Akçakoca Turizm İşletmeciliği ve Otelcilik Yüksekokulu ve Akçakoca Meslek Yüksekokulu Akçakoca’da, Cumayeri Meslek Yüksekokulu Cumayeri’nde, Çilimli Meslek Yüksekokulu Çilimli’de, Gölyaka Meslek Yüksekokulu Gölyaka’da, Gümüşova Meslek Yüksekokulu Gümüşova’da, Kaynaşlı Meslek Yüksekokulu Kaynaşlı’da bulunan yerleşkelerde yer almaktadır.

                        Üniversitemizde yeni kurulan Ziraat ve Doğa Bilimleri Fakültesi ile birlikte 10 fakülte, 3 enstitü, 4 yüksekokul ve 9 meslek yüksekokulu ile eğitim-öğretim hizmeti verilmekte, bilimsel araştırma ve yayınlarla Türk ve dünya bilimine katkıda bulunmaya çalışılmaktadır.

                        Düzce Üniversitesi; öğrencilere temel altyapısı tamamlanmış, çağdaş teknolojik olanaklara sahip bir eğitim ortamında genç, dinamik, güçlü bir akademik kadro ile öğrenci merkezli eğitim yaklaşımları temel alınarak, tarihi ve doğal güzellikler ile dolu bir şehir olan Düzce’de bir üniversite ortamı sunmaktadır.
                    </p>
                    <!-- Tabs Heading Starts -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#menu1">Misyonumuz</a></li>
                        <li><a data-toggle="tab" href="#menu2">Vizyonumuz</a></li>
                    </ul>
                    <!-- Tabs Heading Ends -->
                    <!-- Tabs Content Starts -->
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade in active">
                            <p>Toplumsal ve sürdürülebilir kalkınma alanlarında disiplinlerarası proje işbirlikleriyle öncü, eğitim-öğretim ve bilimsel gelişme alanlarında ulusal ve uluslararası düzeyde tanınan, çağdaş, yenilikçi, güvenilir, saygın ve tercih edilen bir üniversite olmaktır.</p>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                            <p>Atatürk ilke ve devrimlerine bağlı, çağdaş ve demokratik bir üniversite olarak;  ülkenin gelişmesine ve çağdaş uygarlık seviyesine ulaşmasına katkı sağlayacak meslek insanları yetiştirmek, araştırma ve topluma hizmet alanlarında evrensel değerler üretmek, ulusal ve uluslararası düzeyde işbirlikleri kurmak, sürdürülebilir kalkınmaya öncülük etmektir.</p>
                        </div>
                    </div>
                    <!-- Tabs Content Ends -->
                </div>
                <div class="col-md-6 col-lg-6 about-right-side">
                    <div>
                        <img class="img-responsive hidden-xs" src="~/img/Düzce Üniversitesi resim3.png" alt="">
                    </div>
                    <br />
                    <div>
                        <img class="img-responsive hidden-xs" src="~/img/Düzce Üniversitesi resim7.png" alt="">
                    </div>
                    <br />
                    <div>
                        <img class="img-responsive hidden-xs" src="~/img/Duzce_University_Admin.png" alt="">
                    </div>
                </div>
            </div>
            <!-- About Content Ends -->
        </div>
        <!-- Container Ends -->
    </section>
    <!-- About Section Ends -->
    <!-- Facts Section Starts -->
    <section class="facts">
        <div class="section-overlay">
            <!-- Container Starts -->
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>BAZI</span> BİLGİLER</h1>
                    <h4>ÜNİVERSİTEMİZ HAKKINDA BAZI BİLGİLER</h4>
                </div>
                <!-- Main Heading Starts -->
                <!-- Fact Badges Starts -->
                <div class="fact-badges">
                    <div class="row">
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-briefcase"></i>
                            <h2>
                                <span><strong class="badges-counter">13</strong></span>
                            </h2>
                            <h4>FAKÜLTE SAYISI</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-clock-o"></i>
                            <h2>
                                <span><strong class="badges-counter">7</strong>/24</span>
                            </h2>
                            <h4>KAMPÜSTE GEÇİREBİLECEİNİZ ZAMAN</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-home"></i>
                            <h2>
                                <span><strong class="badges-counter">5</strong>+</span>
                            </h2>
                            <h4>EĞLENCE YERİ</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                        <!-- Fact Badge Item Starts -->
                        <div class="col-md-3 col-sm-6">
                            <i class="fa fa-user"></i>
                            <h2>
                                <span><strong class="badges-counter">40.000</strong>+</span>
                            </h2>
                            <h4>ÖĞRENCİ SAYISI</h4>
                        </div>
                        <!-- Fact Badge Item Ends -->
                    </div>
                </div>
                <!-- Fact Badges Ends -->
            </div>
            <!-- Container Ends -->
        </div>
    </section>
    <!-- facts Section Ends -->
</div>
<!-- Wrapper Ends -->