@{
    Layout = "_UserLayout";
}

<!-- Page Wrapper Starts -->
<div class="wrapper">
    <!-- About Section Starts -->
    <section id="about" class="about">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>DUYURU</span> DETAYLARI</h1>
            </div>
            <!-- Main Heading Ends -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-user" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- About Content Starts -->
            <div class="row about-content">
                @foreach (var anno in Model)
                {
                    <div class="col-sm-12 col-md-6 col-lg-6 about-left-side">
                        <h3 class="title-about">@anno.Title</h3>
                        <hr>
                        <p>@anno.Body</p>
                    </div>
                    <div class="col-md-6 col-lg-6 about-right-side">
                        <div>
                            <img class="img-responsive hidden-xs" src="@anno.PhotoUrl" alt="">
                        </div>
                    </div>
                }
            </div>
            <!-- About Content Ends -->
        </div>
        <!-- Container Ends -->
    </section>
    <!-- About Section Ends -->
</div>
<!-- Wrapper Ends -->