@{
    Layout = "_UserLayout";
}

<!-- Page Wrapper Starts -->
<div class="wrapper">
    <!-- Video Section Ends -->
    <!-- Services Section Starts -->
    <section class="services">
        <!-- Container Starts -->
        <div class="container">
            <!-- Main Heading Starts -->
            <div class="text-center top-text">
                <h1><span>İLETİŞİM</span> HATLARI</h1>
                <h4>BU HATLAR ÜZERİNDEN BİZLERE ULAŞABİLİRSİNİZ</h4>
            </div>
            <!-- Main Heading Starts -->
            <!-- Divider Starts -->
            <div class="divider text-center">
                <span class="outer-line"></span>
                <span class="fa fa-cogs" aria-hidden="true"></span>
                <span class="outer-line"></span>
            </div>
            <!-- Divider Ends -->
            <!-- Services Starts -->
            <div class="row services-box">
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-leaf" data-headline="Tıp Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-leaf">
                        <h2>Tıp Fakültesi</h2>
                        <p>Tıp Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br /> 0 (380) 5421416</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-cogs" data-headline="Mühendislik Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-cogs">
                        <h2>Mühendislik Fakültesi</h2>
                        <p>Mühendislik Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421036</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-comments-o" data-headline="Fen Edebiyat Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-comments-o">
                        <h2>Fen Edebiyat Fakültesi</h2>
                        <p>Fen Edebiyat Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br /> 0 (380) 5412404</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-support" data-headline="Spor Bilimleri Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <div class="services-box-item-content fa fa-support">
                        <h2>Spor Bilimleri Fakültesi</h2>
                        <p>Spor Bilimleri Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421215</p>
                    </div>
                </div>
                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-anchor" data-headline="İşletme Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-anchor">
                        <h2>İşletme Fakültesi</h2>
                        <p>İşletme Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421370</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="İlahiyat Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-file-pdf-o">
                        <h2>İlahiyat Fakültesi</h2>
                        <p>İlahiyat Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 54211170</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-leaf" data-headline="Orman Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-leaf">
                        <h2>Orman Fakültesi</h2>
                        <p>Orman Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421137</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Eğitim Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-file-pdf-o">
                        <h2>Eğitim Fakültesi</h2>
                        <p>Eğitim Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421355</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->
                <!-- Service Item Starts -->
                <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                    <!-- Service Item Cover Starts -->
                    <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Sağlık Bilimleri Fakültesi"></span>
                    <!-- Service Item Cover Ends -->
                    <!-- Service Item Content Starts -->
                    <div class="services-box-item-content fa fa-file-pdf-o">
                        <h2>Sağlık Bilimleri Fakültesi</h2>
                        <p>Sağlık Bilimleri Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421141</p>
                    </div>
                    <!-- Service Item Content Ends -->
                </div>
                <!-- Service Item Ends -->
            </div>
            <!-- Services Ends -->
        </div>
    </section>
</div>
<!-- Wrapper Ends -->