@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_UserLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Kenburns, Amira - Creative Multipurpose Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="http://via.placeholder.com/30x30">

    <!-- Template CSS Files -->
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/css/skins/yellow.css" />

    <!-- Revolution Slider CSS Files -->
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/js/plugins/revolution/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/js/plugins/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="/amira/amira-creative-multipurpose-template/js/plugins/revolution/css/navigation.css" />

    <!-- Template JS Files -->
    <script src="/amira/amira-creative-multipurpose-template/js/modernizr.js"></script>

</head>

<body class="double-diagonal dark">
    <!-- Page Wrapper Starts -->
    <div class="wrapper">
        <!-- Video Section Ends -->
        <!-- Services Section Starts -->
        <section class="services">
            <!-- Container Starts -->
            <div class="container">
                <!-- Main Heading Starts -->
                <div class="text-center top-text">
                    <h1><span>İLETİŞİM</span> HATLARI</h1>
                    <h4>BU HATLAR ÜZERİNDEN BİZLERE ULAŞABİLİRSİNİZ</h4>
                </div>
                <!-- Main Heading Starts -->
                <!-- Divider Starts -->
                <div class="divider text-center">
                    <span class="outer-line"></span>
                    <span class="fa fa-cogs" aria-hidden="true"></span>
                    <span class="outer-line"></span>
                </div>
                <!-- Divider Ends -->
                <!-- Services Starts -->
                <div class="row services-box">
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-leaf" data-headline="Tıp Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-leaf">
                            <h2>Tıp Fakültesi</h2>
                            <p>Tıp Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br /> 0 (380) 5421416</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Ends -->
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-cogs" data-headline="Mühendislik Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-cogs">
                            <h2>Mühendislik Fakültesi</h2>
                            <p>Mühendislik Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421036</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Ends -->
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-comments-o" data-headline="Fen Edebiyat Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-comments-o">
                            <h2>Fen Edebiyat Fakültesi</h2>
                            <p>Fen Edebiyat Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br /> 0 (380) 5412404</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Ends -->
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-support" data-headline="Spor Bilimleri Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <div class="services-box-item-content fa fa-support">
                            <h2>Spor Bilimleri Fakültesi</h2>
                            <p>Spor Bilimleri Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421215</p>
                        </div>
                    </div>
                    <!-- Service Item Ends -->
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-anchor" data-headline="İşletme Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-anchor">
                            <h2>İşletme Fakültesi</h2>
                            <p>İşletme Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421370</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Ends -->
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="İlahiyat Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-file-pdf-o">
                            <h2>İlahiyat Fakültesi</h2>
                            <p>İlahiyat Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 54211170</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-leaf" data-headline="Orman Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-leaf">
                            <h2>Orman Fakültesi</h2>
                            <p>Orman Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421137</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Eğitim Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-file-pdf-o">
                            <h2>Eğitim Fakültesi</h2>
                            <p>Eğitim Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421355</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Ends -->
                    <!-- Service Item Starts -->
                    <div class="col-lg-4 col-md-6 col-sm-12 services-box-item">
                        <!-- Service Item Cover Starts -->
                        <span class="services-box-item-cover fa fa-file-pdf-o" data-headline="Sağlık Bilimleri Fakültesi"></span>
                        <!-- Service Item Cover Ends -->
                        <!-- Service Item Content Starts -->
                        <div class="services-box-item-content fa fa-file-pdf-o">
                            <h2>Sağlık Bilimleri Fakültesi</h2>
                            <p>Sağlık Bilimleri Fakültesi Öğrenci İşleri İletişim<br /> Numarası :<br />0 (380) 5421141</p>
                        </div>
                        <!-- Service Item Content Ends -->
                    </div>
                    <!-- Service Item Ends -->
                </div>
                <!-- Services Ends -->
            </div>
        </section>
        </div>
    <!-- Wrapper Ends -->
    <!-- Template JS Files -->
    <script src="/amira/amira-creative-multipurpose-template/js/jquery-2.2.4.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/jquery.easing.1.3.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/bootstrap.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/jquery.bxslider.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/jquery.filterizr.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Revolution Slider Main JS Files -->
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Revolution Slider Extensions -->

    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/amira/amira-creative-multipurpose-template/js/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Main JS Initialization File -->
    <script src="/amira/amira-creative-multipurpose-template/js/custom.js"></script>

</body>

</html>