@{
    Layout = "_AdminLayout";
}

@using PushNotificationEntites;
@model FcmRequestModel

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Duyuru Gönder</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("SendNotify", "DirectAnnouncement", FormMethod.Post))
                    {
                        <label for="username" style="color:white">Kullanıcı:</label>
                        <!--Burda partial view cagırılacak.-->
                        <div id="userdropdown"></div>

                        <br>

                        <label for="username" style="color:white">Duyuru Başlık:</label>
                        @Html.TextBoxFor(w => w.Notification.Title, new { @class = "form-control", @required = "required" })

                        <label for="username" style="color:white">Duyuru Açıklama:</label>
                        @Html.TextAreaFor(w => w.Notification.Body, new { @class = "form-control", @required = "required" })

                        <button type="submit">Gönder</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DropdownUsers", "User")?name=roleId",
                success: function (jsReturnArgs) {

                    $("#userdropdown").html(jsReturnArgs);
                }
            });

        });
    </script>
}
